body{
    background:url('/src/img/caution.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    max-width: 60%;
    margin:75px auto 15px auto;
    background-color:rgba(238, 238, 238, 0.87);
    border-radius: 20px;
    font-size: 1.5em;
}
.card a{
    color:red;
    text-decoration: none;
}
.card a:hover{
    color:rgb(3, 248, 3);
    cursor: pointer;
}
.info{
    font-size:0.7em ;
}
.forget{
    color: #048dfd;
    font-size: 0.7em;
}
.spinner{
    border: 8px solid rgb(72, 206, 247);
    border-radius: 50%;
    border-top: 8px solid rgb(247, 114, 114);
    width: 50px;
    height: 50px;
    background: transparent;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.spinner:hover{
    background: transparent;
}